<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

## Problem Statement

Project hypothesis: students in low-income school districts are not meeting/exceeding the benchmark for SAT Math, Evidence-Based Reading & Writing (ERW), and ACT composite scores. This project aims to explore a possible correlation between the districts with the most Free and Reduced-Priced Meal participation and their aggregate scores on the ACT and SAT so that Title I program leaders can determine funding or grant eligibility. These grants and funding sources could help improve ACT and SAT scores of children from low-income families to help ensure that all children meet challenging state academic standards.

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
    1. [2019 ACT Scores in California by School](#2019-act-scores-in-california-by-school)
    2. [2019 SAT Scores in California by School](#2019-sat-scores-in-california-by-school)
    3. [2018-19 Free and Reduced-Price Meals](#2018-19-free-and-reduced-price-meals)
    4. [Merge Data Frames](#merge-dataframes)
- [Data Dictionary](#data-dictionary)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

Title I, Part A of the Elementary and Secondary Education Act provides financial assistance to local educational agencies and schools with high numbers or high percentages of children from low-income families to help ensure that all children meet challenging state academic standards. More information can be found on the [*U.S. Department of Education Title I, Part A*](https://www2.ed.gov/programs/titleiparta/index.html) website.

### Choose your Data

There are 10 datasets included in the [`data`](./data/) folder for this project. You are required to pick **at least two** of these to complete your analysis. Feel free to use more than two if you would like, or add other relevant datasets you find online. The two selected datasets from the provided list are below:

* [`act_2019_ca.csv`](./data/act_2019_ca.csv): 2019 ACT Scores in California by School
* [`sat_2019_ca.csv`](./data/sat_2019_ca.csv): 2019 SAT Scores in California by School

The datasets I will use for this analysis are described below:
 * __2019 ACT Scores in California by School__
   * This dataset includes the ACT scores for students in California by school. The fields have average scores for English, Reading, Math, and Science. There are also a couple of columns for numbers and percentages of of test takers whose ACT composite scores are greater or equal to 21.
 * __2019 SAT Scores in California by School__
   * This dataset includes SAT scores for students in California by school. The fields have the number and percentages for benchmarks being met for Math and Evidence-based Reading and Writing (ERW) of students in grades 11 and 12.

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

Additional background related to free or reduced-price meals (FRPM):
* Students who receive free or reduced-price meal benefits are considered those children who are most in need based on parent(s) income and Consumer Price Index. [Income Eligibility Guidelines](https://www.federalregister.gov/documents/2018/05/08/2018-09679/child-nutrition-programs-income-eligibility-guidelines) can be found from the Food and Nutrition Service Agency of the United States of America.
 * __2018-19 Free or Reduced-Price Meal (FRPM) School-level Data__
   * This additional dataset provides information about the free or reduced-price meal (FRPM) data. Students who receive free or reduced-price meal benefits are considered those children who are most in need based on parent(s) income and Consumer Price Index.
   * [`frpm_1819_ca.csv`](./data/frpm_1819_ca.csv): 2018-19 Free or Reduced-Price Meal (FRPM) School-level Data

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [1]:
# Mean is the sum of all the values divided by the number of values. 
# Function to calculate the mean of values:

def manual_mean(values):
    return sum(values) / len(values)

In [2]:
# list of numbers for test:
values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Function test and function result to variable for use in STD below:

mean = manual_mean(values)
print(mean)

5.5

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [3]:
# Code:
def standard_dev(numbers):
    variance = sum((x - int(mean))**2 for x in numbers) / len(numbers)
    std = (variance)**1/2
    return std

In [4]:
# Function test:
standard_dev(values)

4.25

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [5]:
# Data cleaning function:
def percentage_strip(string):
    clean = float(string.strip('%')) / 100
    return clean

In [6]:
#function test
percentage_strip("50%")

0.5

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [7]:
# Imports:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import statistics

pd.options.display.max_columns =999  # use to change the max number of columns to display

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

In [40]:
act2019 = pd.read_csv("./data/act_2019_ca.csv")
sat2019 = pd.read_csv("./data/sat_2019_ca.csv")
frpm1819 = pd.read_csv("./data/frpm_1819_ca.csv")

### 2019 ACT Scores in California by School

In [61]:
# Show the first 5 rows
act2019.head()

,CDS,county_code,district_code,school_code,record_type,school_name,district_name,county_name,act_12_enrolled,act_num_test_takers,act_num_comp_ge21,act_pct_ge21,Unnamed: 17
0,3.366993e+13,33.0,3366993.0,129882.0,S,21st Century Learning Institute,Beaumont Unified,Riverside,18.0,0.0,0,0,0.0
1,1.964212e+13,19.0,1964212.0,1995596.0,S,ABC Secondary (Alternative),ABC Unified,Los Angeles,58.0,0.0,0,0,0.0
2,1.563776e+13,15.0,1563776.0,1530377.0,S,Abraham Lincoln Alternative,Southern Kern Unified,Kern,18.0,0.0,0,0,0.0
3,4.369666e+13,43.0,4369666.0,4333795.0,S,Abraham Lincoln High,San Jose Unified,Santa Clara,463.0,53.0,34,64.15,0.0
4,1.964733e+13,19.0,1964733.0,1935121.0,S,Abraham Lincoln Senior High,Los Angeles Unified,Los Angeles,226.0,19.0,11,57.89,0.0

In [28]:
# Check for missing values
act2019.isnull().sum()

CDS               1
CCode             1
CDCode            1
SCode           523
RType             1
SName           581
DName            59
CName             1
Enroll12          1
NumTstTakr        1
AvgScrRead      357
AvgScrEng       357
AvgScrMath      357
AvgScrSci       357
NumGE21         357
PctGE21         357
Year              1
Unnamed: 17    2310
dtype: int64

In [29]:
act2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2310 entries, 0 to 2309
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CDS          2309 non-null   float64
 1   CCode        2309 non-null   float64
 2   CDCode       2309 non-null   float64
 3   SCode        1787 non-null   float64
 4   RType        2309 non-null   object
 5   SName        1729 non-null   object
 6   DName        2251 non-null   object
 7   CName        2309 non-null   object
 8   Enroll12     2309 non-null   float64
 9   NumTstTakr   2309 non-null   float64
 10  AvgScrRead   1953 non-null   object
 11  AvgScrEng    1953 non-null   object
 12  AvgScrMath   1953 non-null   object
 13  AvgScrSci    1953 non-null   object
 14  NumGE21      1953 non-null   object
 15  PctGE21      1953 non-null   object
 16  Year         2309 non-null   object
 17  Unnamed: 17  0 non-null      float64
dtypes: float64(7), object(11)
memory usage: 325.0+ KB

In [ ]:
act2019 = act2019.drop(columns=['Year', 'AvgScrRead', 'AvgScrEng', 'AvgScrMath', 'AvgScrSci'])

In [47]:
act2019 = act2019.rename(dict(CCode='county_code', 
CDCode='district_code', 
SCode='school_code', 
RType='record_type', 
SName='school_name', 
DName='district_name', 
CName='county_name', 
Enroll12='act_12_enrolled', 
NumTstTakr='act_num_test_takers', 
AvgScrRead='act_avg_read', 
AvgScrEng='act_avg_eng', 
AvgScrMath='act_avg_math', 
AvgScrSci='act_avg_sci', 
NumGE21='act_num_comp_ge21', 
PctGE21='act_pct_ge21'), 
axis='columns')

In [48]:
act2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2310 entries, 0 to 2309
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CDS                  2309 non-null   float64
 1   county_code          2309 non-null   float64
 2   district_code        2309 non-null   float64
 3   school_code          1787 non-null   float64
 4   record_type          2309 non-null   object
 5   school_name          1729 non-null   object
 6   district_name        2251 non-null   object
 7   county_name          2309 non-null   object
 8   act_12_enrolled      2309 non-null   float64
 9   act_num_test_takers  2309 non-null   float64
 10  act_num_comp_ge21    1953 non-null   object
 11  act_pct_ge21         1953 non-null   object
 12  Unnamed: 17          0 non-null      float64
dtypes: float64(7), object(6)
memory usage: 234.7+ KB

In [52]:
# Replace NaN with 0. Using zero is the logical replacement since school that have no students taking the assessment should count as zero scores in project stats.
act2019 = act2019.fillna(0)

In [57]:
act2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2310 entries, 0 to 2309
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CDS                  2310 non-null   float64
 1   county_code          2310 non-null   float64
 2   district_code        2310 non-null   float64
 3   school_code          2310 non-null   float64
 4   record_type          2310 non-null   object
 5   school_name          2310 non-null   object
 6   district_name        2310 non-null   object
 7   county_name          2310 non-null   object
 8   act_12_enrolled      2310 non-null   float64
 9   act_num_test_takers  2310 non-null   float64
 10  act_num_comp_ge21    2310 non-null   object
 11  act_pct_ge21         2310 non-null   object
 12  Unnamed: 17          2310 non-null   float64
dtypes: float64(7), object(6)
memory usage: 234.7+ KB

### 2019 SAT Scores in California by School

In [16]:
# Show the first 5 rows
sat2019.head()

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTSTTakr12,NumERWBenchmark12,PctERWBenchmark12,NumMathBenchmark12,PctMathBenchmark12,Enroll11,NumTSTTakr11,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11,PctMathBenchmark11,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11,Year,Unnamed: 25
0,6.615981e+12,6.0,661598.0,630046.0,S,Colusa Alternative Home,Colusa Unified,Colusa,18.0,0.0,NaN,NaN,NaN,NaN,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,6.616061e+12,6.0,661606.0,634758.0,S,Maxwell Sr High,Maxwell Unified,Colusa,29.0,10.0,*,*,*,*,26.0,6.0,*,*,*,*,*,*,*,*,2018-19,NaN
2,1.964733e+13,19.0,1964733.0,1930924.0,S,Belmont Senior High,Los Angeles Unified,Los Angeles,206.0,102.0,31,30.39,14,13.73,219.0,174.0,42,24.14,12,6.90,14,13.73,11,6.32,2018-19,NaN
3,1.964733e+13,19.0,1964733.0,1931476.0,S,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227.0,113.0,54,47.79,18,15.93,333.0,275.0,97,35.27,37,13.45,18,15.93,35,12.73,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1931856.0,S,Whitman Continuation,Los Angeles Unified,Los Angeles,18.0,14.0,*,*,*,*,17.0,5.0,*,*,*,*,*,*,*,*,2018-19,NaN

In [17]:
# Check for missing values
sat2019.isnull().sum()

CDS                         1
CCode                       1
CDCode                      1
SCode                       1
RType                       1
SName                     598
DName                      59
CName                       1
Enroll12                    1
NumTSTTakr12                1
NumERWBenchmark12         276
PctERWBenchmark12         276
NumMathBenchmark12        276
PctMathBenchmark12        276
Enroll11                    1
NumTSTTakr11                1
NumERWBenchmark11         311
PctERWBenchmark11         311
NumMathBenchmark11        311
PctMathBenchmark11        311
TotNumBothBenchmark12     276
PctBothBenchmark12        276
TotNumBothBenchmark11     311
PctBothBenchmark11        311
Year                        1
Unnamed: 25              2580
dtype: int64

In [41]:
sat2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CDS                    2579 non-null   float64
 1   CCode                  2579 non-null   float64
 2   CDCode                 2579 non-null   float64
 3   SCode                  2579 non-null   float64
 4   RType                  2579 non-null   object
 5   SName                  1982 non-null   object
 6   DName                  2521 non-null   object
 7   CName                  2579 non-null   object
 8   Enroll12               2579 non-null   float64
 9   NumTSTTakr12           2579 non-null   float64
 10  NumERWBenchmark12      2304 non-null   object
 11  PctERWBenchmark12      2304 non-null   object
 12  NumMathBenchmark12     2304 non-null   object
 13  PctMathBenchmark12     2304 non-null   object
 14  Enroll11               2579 non-null   float64
 15  NumTSTTakr11           2579 non-null   float64
 16  NumERWBenchmark11      2269 non-null   object
 17  PctERWBenchmark11      2269 non-null   object
 18  NumMathBenchmark11     2269 non-null   object
 19  PctMathBenchmark11     2269 non-null   object
 20  TotNumBothBenchmark12  2304 non-null   object
 21  PctBothBenchmark12     2304 non-null   object
 22  TotNumBothBenchmark11  2269 non-null   object
 23  PctBothBenchmark11     2269 non-null   object
 24  Year                   2579 non-null   object
 25  Unnamed: 25            0 non-null      float64
dtypes: float64(9), object(17)
memory usage: 524.2+ KB

In [42]:
#Removing all of the columns with data about 11th grades so that I can compare only the 12th graders. The data for the ACT only included 12th grader results.
sat2019 = sat2019.drop(columns=['NumTSTTakr11', 
'NumERWBenchmark11', 
'PctERWBenchmark11', 
'NumMathBenchmark11', 
'PctMathBenchmark11', 
'TotNumBothBenchmark11', 
'PctBothBenchmark11',
'NumMathBenchmark12', 
'PctMathBenchmark12', 
'NumERWBenchmark12',	
'PctERWBenchmark12',
'Enroll11', 
'Year'])   # Remove column Year because it is duplicative of the data information - all data is from the same school year.

In [49]:
sat2019 = sat2019.rename(dict(Enroll12='sat_12_enrolled',
NumTSTTakr12='sat_num_test_takers', 
TotNumBothBenchmark12='sat_tot_num_benchmark', 
PctBothBenchmark12='sat_pct_benchmark',
CCode='county_code', 
CDCode='district_code', 
SCode='school_code', 
RType='record_type', 
SName='school_name', 
DName='district_name', 
CName='county_name'), axis='columns')

sat2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CDS                    2579 non-null   float64
 1   county_code            2579 non-null   float64
 2   district_code          2579 non-null   float64
 3   school_code            2579 non-null   float64
 4   record_type            2579 non-null   object
 5   school_name            1982 non-null   object
 6   district_name          2521 non-null   object
 7   county_name            2579 non-null   object
 8   sat_12_enrolled        2579 non-null   float64
 9   sat_num_test_takers    2579 non-null   float64
 10  sat_tot_num_benchmark  2304 non-null   object
 11  sat_pct_benchmark      2304 non-null   object
 12  Unnamed: 25            0 non-null      float64
dtypes: float64(7), object(6)
memory usage: 262.2+ KB

In [72]:
# replace NaN with 0
sat2019 = sat2019.fillna(0)

In [76]:
sat2019

,CDS,county_code,district_code,school_code,record_type,school_name,district_name,county_name,sat_12_enrolled,sat_num_test_takers,sat_tot_num_benchmark,sat_pct_benchmark,Unnamed: 25
0,6.615981e+12,6.0,661598.0,630046.0,S,Colusa Alternative Home,Colusa Unified,Colusa,18.0,0.0,0,0,0.0
1,6.616061e+12,6.0,661606.0,634758.0,S,Maxwell Sr High,Maxwell Unified,Colusa,29.0,10.0,*,*,0.0
2,1.964733e+13,19.0,1964733.0,1930924.0,S,Belmont Senior High,Los Angeles Unified,Los Angeles,206.0,102.0,14,13.73,0.0
3,1.964733e+13,19.0,1964733.0,1931476.0,S,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227.0,113.0,18,15.93,0.0
4,1.964733e+13,19.0,1964733.0,1931856.0,S,Whitman Continuation,Los Angeles Unified,Los Angeles,18.0,14.0,*,*,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2575,5.772678e+13,57.0,5772678.0,0.0,D,0,Davis Joint Unified,Yolo,717.0,307.0,268,87.30,0.0
2576,7.000000e+12,7.0,700000.0,0.0,C,0,0,Contra Costa,14593.0,5412.0,2721,50.28,0.0
2577,1.700000e+13,17.0,1700000.0,0.0,C,0,0,Lake,667.0,167.0,65,38.92,0.0
2578,3.800000e+13,38.0,3800000.0,0.0,C,0,0,San Francisco,4447.0,2256.0,1248,55.32,0.0
2579,0.000000e+00,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0

### 2018-19 Free and Reduced-Price Meals

In [18]:
# Show the first 5 rows
frpm1819.head()

,Academic Year,county_code,district_code,school_code,county_name,district_name,school_name,district_type,school_type,Educational \nOption Type,NSLP \nProvision \nStatus,charter_y_n,Charter \nSchool \nNumber,Charter \nFunding \nType,IRC,Low Grade,High Grade,enrollment_k12,free_meal_count_k12,percent_eligible_free_k12,frpm_count_k12,frpm_percent_eligible_k12,Enrollment \n(Ages 5-17),Free Meal \nCount \n(Ages 5-17),Percent (%) \nEligible Free \n(Ages 5-17),FRPM Count \n(Ages 5-17),Percent (%) \nEligible FRPM \n(Ages 5-17),CALPADS Fall 1 \nCertification Status
0,2018-2019,1,61119,106401,Alameda,Alameda Unified,Alameda Science and Technology Institute,Unified School District,Alternative Schools of Choice,Alternative School of Choice,NaN,No,NaN,NaN,N,9,12,192,47,24.50%,55,28.60%,191,46,24.10%,54,28.30%,Y
1,2018-2019,1,61119,126656,Alameda,Alameda Unified,Maya Lin,Unified School District,Alternative Schools of Choice,Alternative School of Choice,NaN,No,NaN,NaN,N,K,5,427,89,20.80%,98,23.00%,427,89,20.80%,98,23.00%,Y
2,2018-2019,1,61176,130435,Alameda,Fremont Unified,Vista Alternative,Unified School District,Alternative Schools of Choice,Alternative School of Choice,NaN,No,NaN,NaN,N,7,12,34,17,50.00%,19,55.90%,30,15,50.00%,17,56.70%,Y
3,2018-2019,1,61200,130393,Alameda,Livermore Valley Joint Unified,Vineyard Alternative,Unified School District,Alternative Schools of Choice,Alternative School of Choice,NaN,No,NaN,NaN,N,1,12,136,41,30.10%,41,30.10%,128,38,29.70%,38,29.70%,Y
4,2018-2019,1,61234,130484,Alameda,Newark Unified,Crossroads High (Alternative),Unified School District,Alternative Schools of Choice,Alternative School of Choice,NaN,No,NaN,NaN,N,K,12,43,26,60.50%,26,60.50%,39,23,59.00%,23,59.00%,Y

In [19]:
# Check for missing values
frpm1819.isnull().sum()

Academic Year                                   0
county_code                                     0
district_code                                   0
school_code                                     0
county_name                                     0
district_name                                   0
school_name                                     0
district_type                                   0
school_type                                     0
Educational \nOption Type                       0
NSLP \nProvision \nStatus                    1913
charter_y_n                                     0
Charter \nSchool \nNumber                    2168
Charter \nFunding \nType                     2168
IRC                                             0
Low Grade                                       0
High Grade                                      0
enrollment_k12                                  0
free_meal_count_k12                             0
percent_eligible_free_k12                       0
frpm_count_k12                                  0
frpm_percent_eligible_k12                       0
Enrollment \n(Ages 5-17)                        0
Free Meal \nCount \n(Ages 5-17)                 0
Percent (%) \nEligible Free \n(Ages 5-17)       0
FRPM Count \n(Ages 5-17)                        0
Percent (%) \nEligible FRPM \n(Ages 5-17)       0
CALPADS Fall 1 \nCertification Status           0
dtype: int64

In [24]:
frpm1819.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2469 entries, 0 to 2468
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Academic Year                            2469 non-null   object
 1   county_code                              2469 non-null   int64
 2   district_code                            2469 non-null   int64
 3   school_code                              2469 non-null   int64
 4   county_name                              2469 non-null   object
 5   district_name                            2469 non-null   object
 6   school_name                              2469 non-null   object
 7   district_type                            2469 non-null   object
 8   school_type                              2469 non-null   object
 9   Educational
Option Type                 2469 non-null   object
 10  NSLP
Provision
Status                  556 non-null    object
 11  charter_y_n                              2469 non-null   object
 12  Charter
School
Number                  301 non-null    object
 13  Charter
Funding
Type                   301 non-null    object
 14  IRC                                      2469 non-null   object
 15  Low Grade                                2469 non-null   object
 16  High Grade                               2469 non-null   object
 17  enrollment_k12                           2469 non-null   object
 18  free_meal_count_k12                      2469 non-null   object
 19  percent_eligible_free_k12                2469 non-null   object
 20  frpm_count_k12                           2469 non-null   object
 21  frpm_percent_eligible_k12                2469 non-null   object
 22  Enrollment
(Ages 5-17)                  2469 non-null   object
 23  Free Meal
Count
(Ages 5-17)            2469 non-null   object
 24  Percent (%)
Eligible Free
(Ages 5-17)  2469 non-null   object
 25  FRPM Count
(Ages 5-17)                  2469 non-null   object
 26  Percent (%)
Eligible FRPM
(Ages 5-17)  2469 non-null   object
 27  CALPADS Fall 1
Certification Status     2469 non-null   object
dtypes: int64(3), object(25)
memory usage: 540.2+ KB

In [12]:
# Remove extra columns of data that are not needed for this project
frpm1819 = frpm1819.drop(columns=['Academic Year', 
'CALPADS Fall 1 \nCertification Status', 
'Percent (%) \nEligible FRPM \n(Ages 5-17)', 
'FRPM Count \n(Ages 5-17)', 
'Percent (%) \nEligible Free \n(Ages 5-17)', 
'Free Meal \nCount \n(Ages 5-17)', 
'Enrollment \n(Ages 5-17)',
'IRC',
'Low Grade',
'High Grade', 
'NSLP \nProvision \nStatus', 
'Educational \nOption Type', 
'Charter \nSchool \nNumber',
'Charter \nFunding \nType']
)

In [17]:
#   In pandas, make a boolean mask to filter out rows where a column has a certain value (or values)
frpm1819 = frpm1819[(frpm1819['school_type']!='Elementary Schools (Public)') & (frpm1819['school_type']!='Elemen Schools In 1 School Dist. (Public)') & (frpm1819['school_type']!='Intermediate/Middle Schools (Public)') & (frpm1819['school_type']!='Junior High Schools (Public)') & (frpm1819['school_type']!='Preschool')]
frpm1819

,county_code,district_code,school_code,county_name,district_name,school_name,district_type,school_type,charter_y_n,enrollment_k12,free_meal_count_k12,percent_eligible_free_k12,frpm_count_k12,frpm_percent_eligible_k12
0,1,61119,106401,Alameda,Alameda Unified,Alameda Science and Technology Institute,Unified School District,Alternative Schools of Choice,No,192,47,24.50%,55,28.60%
1,1,61119,126656,Alameda,Alameda Unified,Maya Lin,Unified School District,Alternative Schools of Choice,No,427,89,20.80%,98,23.00%
2,1,61176,130435,Alameda,Fremont Unified,Vista Alternative,Unified School District,Alternative Schools of Choice,No,34,17,50.00%,19,55.90%
3,1,61200,130393,Alameda,Livermore Valley Joint Unified,Vineyard Alternative,Unified School District,Alternative Schools of Choice,No,136,41,30.10%,41,30.10%
4,1,61234,130484,Alameda,Newark Unified,Crossroads High (Alternative),Unified School District,Alternative Schools of Choice,No,43,26,60.50%,26,60.50%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2464,33,31625,3330834,Riverside,California School for the Deaf-Riverside (Stat...,California School for the Deaf-Riverside,State Special Schools,State Special Schools,No,348,114,32.80%,114,32.80%
2465,34,32276,330027,Sacramento,California Education Authority (CEA) Headquarters,Pine Grove Youth Conservation Camp,Non-School Locations,Youth Authority Facilities,No,20,19,95.00%,19,95.00%
2466,34,32276,3931250,Sacramento,California Education Authority (CEA) Headquarters,Johanna Boss High,Non-School Locations,Youth Authority Facilities,No,50,49,98.00%,49,98.00%
2467,34,32276,3990025,Sacramento,California Education Authority (CEA) Headquarters,N.A. Chaderjian High,Non-School Locations,Youth Authority Facilities,No,145,144,99.30%,144,99.30%
2468,34,32276,5637780,Sacramento,California Education Authority (CEA) Headquarters,Mary B. Perry High,Non-School Locations,Youth Authority Facilities,No,77,76,98.70%,76,98.70%

In [18]:
frpm1819.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2469 entries, 0 to 2468
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   county_code                2469 non-null   int64
 1   district_code              2469 non-null   int64
 2   school_code                2469 non-null   int64
 3   county_name                2469 non-null   object
 4   district_name              2469 non-null   object
 5   school_name                2469 non-null   object
 6   district_type              2469 non-null   object
 7   school_type                2469 non-null   object
 8   charter_y_n                2469 non-null   object
 9   enrollment_k12             2469 non-null   object
 10  free_meal_count_k12        2469 non-null   object
 11  percent_eligible_free_k12  2469 non-null   object
 12  frpm_count_k12             2469 non-null   object
 13  frpm_percent_eligible_k12  2469 non-null   object
dtypes: int64(3), object(11)
memory usage: 289.3+ KB

### Merge DataFrames

In [100]:
act_col = act2019[['school_code', 'act_12_enrolled', 'act_num_test_takers', 'act_num_comp_ge21', 'act_pct_ge21']]

In [101]:
sat_col = sat2019[['school_code', 'sat_12_enrolled', 'sat_num_test_takers', 'sat_tot_num_benchmark', 'sat_pct_benchmark']]

In [102]:
frpm_col = frpm1819[['school_code', 'charter_y_n', 'school_name', 'district_name', 'school_type', 'enrollment_k12', 'free_meal_count_k12', 'percent_eligible_free_k12', 'frpm_count_k12', 'frpm_percent_eligible_k12']]

In [103]:
# create a variable of each, then merge variables
frpm_act = frpm_col.merge(act_col, how='left', on='school_code')

In [104]:
frpm_act_sat = frpm_act.merge(sat_col, how='left', on='school_code')

In [105]:
frpm_act_sat

,school_code,charter_y_n,school_name,district_name,school_type,enrollment_k12,free_meal_count_k12,percent_eligible_free_k12,frpm_count_k12,frpm_percent_eligible_k12,act_12_enrolled,act_num_test_takers,act_num_comp_ge21,act_pct_ge21,sat_12_enrolled,sat_num_test_takers,sat_tot_num_benchmark,sat_pct_benchmark
0,106401,No,Alameda Science and Technology Institute,Alameda Unified,Alternative Schools of Choice,192,47,24.50%,55,28.60%,43.0,12.0,*,*,43.0,32.0,28,87.50
1,126656,No,Maya Lin,Alameda Unified,Alternative Schools of Choice,427,89,20.80%,98,23.00%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,130435,No,Vista Alternative,Fremont Unified,Alternative Schools of Choice,34,17,50.00%,19,55.90%,20.0,0.0,0,0,20.0,1.0,*,*
3,130393,No,Vineyard Alternative,Livermore Valley Joint Unified,Alternative Schools of Choice,136,41,30.10%,41,30.10%,49.0,3.0,*,*,49.0,5.0,*,*
4,130484,No,Crossroads High (Alternative),Newark Unified,Alternative Schools of Choice,43,26,60.50%,26,60.50%,17.0,0.0,0,0,17.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2464,3330834,No,California School for the Deaf-Riverside,California School for the Deaf-Riverside (Stat...,State Special Schools,348,114,32.80%,114,32.80%,76.0,26.0,2,7.69,NaN,NaN,NaN,NaN
2465,330027,No,Pine Grove Youth Conservation Camp,California Education Authority (CEA) Headquarters,Youth Authority Facilities,20,19,95.00%,19,95.00%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2466,3931250,No,Johanna Boss High,California Education Authority (CEA) Headquarters,Youth Authority Facilities,50,49,98.00%,49,98.00%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2467,3990025,No,N.A. Chaderjian High,California Education Authority (CEA) Headquarters,Youth Authority Facilities,145,144,99.30%,144,99.30%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2468,5637780,No,Mary B. Perry High,California Education Authority (CEA) Headquarters,Youth Authority Facilities,77,76,98.70%,76,98.70%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Many NaN for these colums, explore reasons? -> act_num_test_takers	act_num_comp_ge21	act_pct_ge21	sat_12_enrolled	sat_num_test_takers	sat_tot_num_benchmark	sat_pct_benchmark

In [106]:
frpm_act_sat['free_meal_count_k12'] = pd.to_numeric(frpm_act_sat.iloc[:,0])

In [107]:
frpm_act_sat['frpm_count_k12'] = pd.to_numeric(frpm_act_sat.iloc[:,0])

In [108]:
frpm_act_sat['act_num_comp_ge21'] = pd.to_numeric(frpm_act_sat.iloc[:,0])

In [110]:
frpm_act_sat['act_pct_ge21'] = pd.to_numeric(frpm_act_sat.iloc[:,0])

In [111]:
frpm_act_sat['sat_tot_num_benchmark'] = pd.to_numeric(frpm_act_sat.iloc[:,0])

In [112]:
frpm_act_sat['sat_pct_benchmark'] = pd.to_numeric(frpm_act_sat.iloc[:,0])

In [114]:
frpm_act_sat['enrollment_k12'] = pd.to_numeric(frpm_act_sat.iloc[:,0])

In [116]:
def percent_strip(string):
    clean = float(string.strip('%')) / 100
    return clean

# https://stackoverflow.com/questions/40353519/how-to-apply-custom-function-to-pandas-data-frame-for-each-row

In [117]:
frpm_act_sat['percent_eligible_free_k12'] = frpm_act_sat['percent_eligible_free_k12'].apply(percent_strip)

In [118]:
frpm_act_sat['frpm_percent_eligible_k12'] = frpm_act_sat['frpm_percent_eligible_k12'].apply(percent_strip)

In [119]:
frpm_act_sat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2469 entries, 0 to 2468
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   school_code                2469 non-null   int64
 1   charter_y_n                2469 non-null   object
 2   school_name                2469 non-null   object
 3   district_name              2469 non-null   object
 4   school_type                2469 non-null   object
 5   enrollment_k12             2469 non-null   int64
 6   free_meal_count_k12        2469 non-null   int64
 7   percent_eligible_free_k12  2469 non-null   float64
 8   frpm_count_k12             2469 non-null   int64
 9   frpm_percent_eligible_k12  2469 non-null   float64
 10  act_12_enrolled            1459 non-null   float64
 11  act_num_test_takers        1459 non-null   float64
 12  act_num_comp_ge21          2469 non-null   int64
 13  act_pct_ge21               2469 non-null   int64
 14  sat_12_enrolled            1679 non-null   float64
 15  sat_num_test_takers        1679 non-null   float64
 16  sat_tot_num_benchmark      2469 non-null   int64
 17  sat_pct_benchmark          2469 non-null   int64
dtypes: float64(6), int64(8), object(4)
memory usage: 366.5+ KB

In [124]:
frpm_act_sat

,school_code,charter_y_n,school_name,district_name,school_type,enrollment_k12,free_meal_count_k12,percent_eligible_free_k12,frpm_count_k12,frpm_percent_eligible_k12,act_12_enrolled,act_num_test_takers,act_num_comp_ge21,act_pct_ge21,sat_12_enrolled,sat_num_test_takers,sat_tot_num_benchmark,sat_pct_benchmark
0,106401,No,Alameda Science and Technology Institute,Alameda Unified,Alternative Schools of Choice,106401,106401,0.245,106401,0.286,43.0,12.0,106401,106401,43.0,32.0,106401,106401
1,126656,No,Maya Lin,Alameda Unified,Alternative Schools of Choice,126656,126656,0.208,126656,0.230,NaN,NaN,126656,126656,NaN,NaN,126656,126656
2,130435,No,Vista Alternative,Fremont Unified,Alternative Schools of Choice,130435,130435,0.500,130435,0.559,20.0,0.0,130435,130435,20.0,1.0,130435,130435
3,130393,No,Vineyard Alternative,Livermore Valley Joint Unified,Alternative Schools of Choice,130393,130393,0.301,130393,0.301,49.0,3.0,130393,130393,49.0,5.0,130393,130393
4,130484,No,Crossroads High (Alternative),Newark Unified,Alternative Schools of Choice,130484,130484,0.605,130484,0.605,17.0,0.0,130484,130484,17.0,0.0,130484,130484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2464,3330834,No,California School for the Deaf-Riverside,California School for the Deaf-Riverside (Stat...,State Special Schools,3330834,3330834,0.328,3330834,0.328,76.0,26.0,3330834,3330834,NaN,NaN,3330834,3330834
2465,330027,No,Pine Grove Youth Conservation Camp,California Education Authority (CEA) Headquarters,Youth Authority Facilities,330027,330027,0.950,330027,0.950,NaN,NaN,330027,330027,NaN,NaN,330027,330027
2466,3931250,No,Johanna Boss High,California Education Authority (CEA) Headquarters,Youth Authority Facilities,3931250,3931250,0.980,3931250,0.980,NaN,NaN,3931250,3931250,NaN,NaN,3931250,3931250
2467,3990025,No,N.A. Chaderjian High,California Education Authority (CEA) Headquarters,Youth Authority Facilities,3990025,3990025,0.993,3990025,0.993,NaN,NaN,3990025,3990025,NaN,NaN,3990025,3990025
2468,5637780,No,Mary B. Perry High,California Education Authority (CEA) Headquarters,Youth Authority Facilities,5637780,5637780,0.987,5637780,0.987,NaN,NaN,5637780,5637780,NaN,NaN,5637780,5637780

In [ ]:
#frpm_act_sat.to_csv('./data/frpm_act_sat.csv')

### Data Dictionary

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**school_code**|integer|FRPM & ACT/SAT|The school code is a state number to identify schools. It is how all of the data frames connect.|
|**charter_y_n**|object|FRPM|Yes or No; this school is a Charter School|
|**school_name**|object|FRPM & ACT/SAT|School Name|
|**district_name**|object|FRPM & ACT/SAT|District Name|
|**school_type**|object|FRPM|Type of school: Elementary, Middle, Junior High, High, Alternative, County Community, K-12 Schools, Preschool, Special Education Schools, Youth Authority Facilities, etc..| 
|**enrollment_k12**|integer|FRPM|Enrollment of K-12 students at the school.| 
|**free_meal_count_k12**|integer|FRPM|Count of students who get free meals in K-12 of the total count of students enrolled.|
|**percent_eligible_free_k12**|float|FRPM|Percent of students eligible for free meals.|
|**frpm_count_k12**|integer|FRPM|Total count of students who meet household income or categorical eligibility criteria for free or reduced price meals.|
|**frpm_percent_eligible_k12**|float|FRPM|Percent of students eligible for FRPM.|
|**act_12_enrolled**|float|ACT|Enrollment of student in Grade 12, ACT.|
|**act_num_test_takers**|float|ACT|Number of ACT test takers.|
|**act_num_comp_ge21**|integer|ACT|Number of test takers whose ACT Composite Cores are greater than or equal to 21.|
|**act_pct_ge21**|integer|ACT|Percentage of test takers whose ACT Composite Cores are greater than or equal to 21.|
|**sat_12_enrolled**|float|SAT|Enrollment of students in Grade 12, SAT.|
|**sat_num_test_takers**|float|SAT|Number of SAT test takers in Grade 12.|
|**sat_tot_num_benchmark**|integer|SAT|Total number of students who met the benchmark of ERW and Math in Grade 12.|
|**sat_pct_benchmark**|integer|SAT|Percentage of students who met the benchmark of ERW and Math in Grade 12.|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [ ]:
#Code:

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [ ]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!